<div class="container pb-4">
  <h1 class="text-center p-4">Bloggers</h1>
  
  <div class="container">
    <div class="container">
      <div class="row align-items-start">
        <div class="col">
        </div>
        <div class="col">
          <%== pagy_bootstrap_nav(@pagy) %>
        </div>
        <div class="col">
        </div>
      </div>
  </div>
  
  
  <%= render 'user' %>
  
  <div class="container">
    <div class="container">
      <div class="row align-items-start">
        <div class="col">
        </div>
        <div class="col">
          <%== pagy_bootstrap_nav(@pagy) %>
        </div>
        <div class="col">
        </div>
      </div>
  </div>
  
  

</div>
