@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: #1f6aff !important;
}

.navbar-brand {
  color: white !important;
}

.nav-link {
  color: white !important;
}
#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  font-weight: bold;
}

#author {
  background-image: asset-url('author.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

