<div class="container pb-4">
  <h1 class="text-center p-4">Edit Category</h1>

  <%= render 'form' %>


<div class="mb-3">
  <%= link_to 'Cancel', category_path(@category), class: "btn btn-outline-secondary" %>
</div>
</div>