<div class="container pb-4">
  <h1 class="text-center p-4">New Category</h1>

  <%= render 'form' %>

</div>
<div class="container pb-4">
  <div class="mb-3">
    <%= link_to 'Cancel', categories_path, class: "btn btn-outline-secondary" %>
  </div>
</div>